.izquierda {
    float: left;
    width: 50%;
    height: 40vh;
    background-color: lightblue;
    overflow: auto;
}
.derecha {
    float: right;
    width: 50%;
    height: 40vh;
    background-color: lightgreen;
    overflow: auto; 
}